# add-{{ snakeName }}.py - Adds a {{ mixedName }}
import logging
import sys
from smoacks.cli_util import get_opts, get_session
from {{ app_name }}.{{ mixedName }} import {{ mixedName }}

logging.basicConfig(level=logging.DEBUG)
LOGGER = logging.getLogger()

def add():
    opts = get_opts('add_{{ snakeName }}', 'Adds {{ mixedName }} to a {{ app_name }}',
                    { {% for field in write_fields %}'{{ field }}': '{{ field }}',
                    {% endfor %} })

    session = get_session(opts)
    if not session:
        sys.exit('Invalid username/password.')

    add_item = {{ mixedName }}(**vars(opts))
    success, resp = add_item.save_new(session)

    if success:
        print('Added {{ mixedName }} with id: {}'.format(','.join(add_item.get_ids())))
    else:
        print('Add failed with code {} and message: {}'.format(resp.status_code, resp.text))
