# pylint: disable-msg=C0321,R0912
"""Module to handle /{{ name }}s API endpoint """
from flask import current_app, g
from flask_jwt_extended import jwt_required
from util.api_util import handle_post, handle_search, handle_delete, \
                          handle_put, handle_get
from dm.{{ name }} import {{ name }}

{% if smoacks_api_security -%}@jwt_required{%- endif %}
def post(body):
    """Method to handle POST verb for /{{name}}s endpoint"""
    return handle_post({{ name }}, '{{ name_id }}', g.db_session, body)

{% if smoacks_api_security -%}@jwt_required{%- endif %}
def search(search_text):
    """Method to handle GET verb with no URL parameters"""
    return handle_search({{ name }}, {{ name }}.{{ search_field }}, g.db_session, search_text)

{% if smoacks_api_security -%}@jwt_required{%- endif %}
def delete(id):
    """Method to handle DELETE verb for /{{ name }}/{{ name_id }} endpoint"""
    return handle_delete({{ name }}, {{ name }}.{{ name_id }}, g.db_session, id)

{% if smoacks_api_security -%}@jwt_required{%- endif %}
def put(id, data):
    """Method to handle PUT verb for /{{ name }}/{{ name_id }} endpoint"""
    return handle_put({{ name }}, {{ name }}.{{ name_id }}, g.db_session, id, data)

{% if smoacks_api_security -%}@jwt_required{%- endif %}
def get(id):
    """Method to handle GET verb for /{{ name }}/{{ name_id }} endpoint"""
    return handle_get({{ name }}, {{ name }}.{{ name_id }}, g.db_session, id)
