# pylint: disable-msg=C0103,W0603
# Note about pylint disables - pylint thinks my globals are constants,
# and they're not, so disabling C0103. It also doesn't like globals,
# which I don't care much about because I want to use them here in my
# tests.
"""test-{{ snakeName }}-api.py - Tests of {{ name }} APIs"""
import logging
from .TestUtil import get_active_session, get_response_with_jwt, log_response_error

TEST_SESSION = get_active_session()
added_id = -1

def test_{{ snakeName }}_create():
    """{{ name }}APIs: Test create API"""
    #pylint: disable=W0603
    global added_id
    create_obj = {{ createObj }}
    resp = get_response_with_jwt(TEST_SESSION, 'POST', '/{{ snakeName }}s', create_obj)
    assert resp.status_code == 201
    json = resp.json()
    assert json['{{ name_id }}']
    added_id = json['{{ name_id }}']

def test_{{ snakeName }}_get():
    """--> get returns details """
    resp = get_response_with_jwt(TEST_SESSION, 'GET', '/{{ snakeName}}s/{}'.format(added_id))
    assert resp.status_code == 200
    # TODO: Generate validation of all example data

def test_{{ snakeName }}_delete():
    """--> delete returns 204"""
    resp = get_response_with_jwt(TEST_SESSION, 'DELETE', '/{{ snakeName }}s/{}'.format(added_id))
    log_response_error(resp)
    assert resp.status_code == 204
