# pylint: disable-msg=C0103,W0603
# Note about pylint disables - pylint thinks my globals are constants,
# and they're not, so disabling C0103. It also doesn't like globals,
# which I don't care much about because I want to use them here in my
# tests.
"""test-login-api.py - Tests of Login API"""
import logging
from smoacks.api_util import call_api{% if smoacks_test_login == 'real'%}, login{% endif %}
from .TestUtil import {% if smoacks_test_login == 'mock' %}mock_login, {% endif %}log_response_error

LOGGER = logging.getLogger()
TEST_SESSION = {% if smoacks_test_login == 'mock' %}mock_login(){% else %}login('{{ smoacks_test_user }}', '{{ smoacks_test_password}}'){% endif %}

def test_login():
    """LoginAPI: Test login API"""
    resp = call_api(TEST_SESSION, 'GET', '/{{ smoacks_app_api_prefix}}/login', None, True)
    log_response_error(resp)
    assert resp.status_code == 200
    json = resp.json()
    {% for obj in objects %}
    assert len(json['{{obj.name}}s']) {% if obj.name != 'User' %}== 0{% else %}>= 1{% endif %}{% endfor %}
